 body{
    height: 100vh;
 }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    margin-top: 125px;
    width: 400px;
    min-height: 600px;
    border: 2px solid black;
    border-radius: 14px;
    background-color: #999999;
}

#screen{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    text-align: right;
    width: 325px;
    margin-top: 25px;
    border-radius: 14px;
    padding-right: 15px;
    margin-left: 25px;
    margin-bottom: 35px;
    padding-top: 20px;
    background-color: white;
    word-wrap: break-word;
    word-break: break-word;
    min-height: 125px;
}
#display{
    font-size: 32px;
    min-height: 32px;
}
#current-input{
    font-size: 48px;
    min-height: 64px;
}

.button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0px 25px;
    padding-bottom: 25px;
    
}
 button {
    height: 60px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 24px;
 }
 button:hover{
    cursor: pointer;
    background-color: #bfbfbf;
 }

.grid-2fr{
    grid-column: span 2;
}
#clear{
    background-color: #ff3333;
}
#delete{
    background-color: #0099ff;
}
#delete:hover{
    cursor: pointer;
    background-color: #66c2ff;
}
#clear:hover{
    cursor: pointer;
    background-color: #ff6666;
}
#clear, #delete{
    font-size: 28px;
}