 body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
    display: flex;
    background-color: #1F2937;
    height: 72px;
    justify-content: space-between;
    padding: 0px 200px;
}
.left-side, .right-side{
    display: flex;
    align-items: center;
}
.left-side{
    font-size: 24px;
    font-weight: bold;
}
.right-side{
    font-size: 18px;
    color: #E5E7EB;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}

